html,
body,
#app,
#app > div {
  height: 100%;
}
#app {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
nav {
  padding: 20px 0 20px 0;
}
.search-panel {
  background-color: #517a92;
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem #ccc;
}
.information-panel {
  background-color: #bc5332;
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem #ccc;
}

.information-panel.show {
  transition: opacity 0.5s;
  opacity: 1;
}

.information-panel.hide {
  opacity: 0;
  pointer-events: none;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.8fr 0.02fr 0.2fr;
  grid-template-rows: 1fr;
}

.grid-left {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 60% 40%;
}
.grid-right {
  grid-column: 3 / 4;
  grid-row: 1;
}
/* .analysis-nav {
  grid-row: 1 / 2;
} */
.widget {
  grid-row: 1 / 2;
}
.widget-info {
  grid-row: 2 / 3;
}
.transaction-graph {
  height: 100%;
}
