html,
body,
#app,
#app > div {
  height: 100%;
}
#app {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
nav {
  padding: 20px 0 20px 0;
}
.search-panel {
  background-color: #e59379;
  color: #fff;
  /* box-shadow: 0 0.25rem 0.75rem #ccc; */
  border-radius: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.information-panel {
  background-color: rgb(81, 122, 146);
  color: #fff;
  /* box-shadow: 0 0.25rem 0.75rem #ccc; */
  border-radius: 0 !important;
}

.information-panel.show {
  transition: opacity 0.5s;
  opacity: 1;
}

.information-panel.hide {
  opacity: 0;
  pointer-events: none;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.8fr 0.01fr 0.2fr;
  grid-template-rows: 1fr;
}

.grid-left {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 80% 20%;
}
.grid-right {
  height: 97%;
  padding-right: 0px !important;
  max-width: 20vw;
  grid-column: 3 / 4;
  grid-row: 1;
  display: grid;
  grid-template-rows: 10% 2% 88%;
}
/* .analysis-nav {
  grid-row: 1 / 2;
} */
.widget {
  grid-row: 1 / 2;
}
.widget-info {
  grid-row: 2 / 3;
}
.transaction-graph {
  height: 100%;
}

.search {
  grid-row: 1 / 2;
  padding-right: 1rem;
}
.object-list {
  grid-row: 3 / 4;
  width: 100%;
}
.object-list ul {
  margin: 0;
  padding: 0;
  position: relative;
  left: -1.4rem;
}
.object-list li {
  list-style: none;
  height: 4vw;
  background-color: rgb(188, 83, 50, 0.5);
  margin-bottom: 3px;
  position: relative;
  width: 109%;
  cursor: pointer;
}
.object-list li.active {
  background-color: rgb(81, 122, 146, 0.5);
}
.object-list li:hover {
  background-color: rgb(81, 122, 146, 0.5);
}
.list-object {
  padding-left: 1.4rem;
  padding-top: 0.8rem;
  height: 100%;
}
.node-tooltip {
  height: 4vh;
  width: 52vh;
  background-color: rgb(81, 122, 146, 0.8);
  position: absolute;
  top: 0px;
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 0.1vh;
  color: #eee;
  padding: 1vh;
}
